{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block content %}
  <h1 class="d-none">Images</h1>

  <div class="card bg-light">
    <div class="card-header">
      <h2 class="h6 mb-0 d-inline">Images</h2>
      <a class="btn btn-primary float-right" href="{{ path('admin_image') }}">
        <i class="material-icons align-middle mr-1">add</i>
        Ajouter une image
      </a>
    </div>

    <div class="card-body">
      <table class="table mb-0">
        <thead class="thead-dark">
            <th scope="col" class="text-right">#</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
        </thead>

        <tbody>
          {% for image in images %}
            <tr>
              <th class="align-middle text-muted text-right" scope="row">{{image.id}}</th>
              <td class="align-middle font-weight-bold">
                <img src="{{ getImageUrl(image, 'squared_thumbnail') }}" alt="{{image.imageName}}" />
                <a class="text-reset" href="{{ path('admin_image', {'id': image.id}) }}">
                  {{image.imageName}}
                </a>
              </td>
              <td class="align-middle text-muted">{{image.imageSize|filesize}}</td>
              <td class="align-middle text-right">
                <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_image', {'id': image.id}) }}">edit</a>
                <button
                  class="btn btn-outline-danger btn-sm"
                  data-toggle="popover"
                  data-content="<a href='#' class='btn btn-sm btn-outline-secondary mr-2'>Cancel</a><a class='btn btn-sm btn-danger' href='{{ path('admin_delete_image', {'id': image.id}) }}'>Delete</a>"
                  data-html="true"
                  tabindex="0"
                  data-trigger="focus"
                >delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
