{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
  <a class="btn btn-link" href="{{ path('admin_dashboard') }}">
    <div class="d-flex justify-content-center align-content-between">
      <i class="material-icons mr-1">chevron_left</i>retour aux articles
    </div>
  </a>

  <div class="mt-3">
    {{ form_start(form) }}
      {{ form_widget(form) }}

      <input
        type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
      >

      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          <i class="material-icons align-bottom mr-1">save</i>
          <span>Enregistrer</span>
        </button>
      </div>
    {{ form_end(form) }}
  </div>

  {{ dump() }}
{% endblock %}
